.b-header__themeToggle{
    display:flex;
    align-items: center;
    color:var(--color);
    background: var(--bg-elements);
    border:none;
    gap:0.7em;

    &__themeIcon{
       fill: var(--color);
        height:1em;
    }

}