@use '../../assets/sass//base/variables' as v;
.b-main{
    padding: 0 1.5em;
    max-width: 430px;
    margin: auto;
    
    &__backLink{
        text-decoration: none;

        &__backButton{
            display:flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            gap:10px;
            box-shadow: v.$c_shadow ;
            padding:0.5em 1.5em;
            background:var(--bg-elements);
            border: none;
            color:var(--color);
    
            svg{
                height:20px;
                width: 20px;    
                fill: var(--color);
            }
        }
    }
    &__countryDescription{
        margin-top:3em;

        &__header{
            background:black;
            margin:auto;
            // width:100%;
            margin-bottom:2em;
    
            &__flag{
                display: block;
                width:100%;
                height:auto;
            }        
        }
        &__body{
            display:flex;
            flex-direction: column;
            gap:2em;

            &__section{

                h1{
                    margin-bottom:1em;
                    font-size: 1.6em;
                    font-weight:800;
                }
                p{
                    line-height:2em;
                }

                &__borderCountries{
                    display:flex;
                    list-style-type: none;
                    flex-wrap: wrap;
                    gap:1em;

                    &__country{
                        box-shadow: v.$c_shadow;
                        background:var(--bg-elements);
                        border-radius:2px;
                        padding:0.5em 1em;
                    }
                }
            }
        }
    }
}
@media (min-width:768px) {
    .b-main{
        max-width: unset;
        padding:0 4em;

        &__countryDescription{
            display:flex;
            align-items:center;
            gap:5%;
    
            &__header{
                display: inline-block;
                margin: auto;
                flex-grow: 1;
                // min-width:330px;
                max-width:500px;
            }
            &__body{
                flex-direction: row;
                flex-wrap: wrap;
                gap:1em;
                flex-grow: 2;
    
                h1{
                    width:100%;
                }
                &__section:nth-child(2){
                    width:45%
                }
                &__section:nth-child(3){
                    width:45%
                }
                &__section:nth-child(4){
                    width:100%
                }
                
            }
        }
    }
}
@media (min-width:1024px) {
    .b-main{
        max-width: 1440px;
        padding:0 4em;

        &__countryDescription{

            &__header{
                // width:500px;
            }
        }
    }
}
@media (min-width:1440px) {
    .b-main{
        max-width: 1440px;
        padding:0 4em;

        &__countryDescription{

            &__header{
                // min-width:500px; 
                // max-width:600px;
            }
        }
    }
}
