@use './base/index' as b;

:root{
    --bg-color: hsl(0, 0%, 98%);
    --color:hsl(200, 15%, 8%);
    --bg-elements: hsl(0, 0%, 100%);
    
}
[data-theme='dark']{
    --bg-color:hsl(207, 26%, 17%);
    --color:hsl(0, 0%, 100%);
    --bg-elements: hsl(209, 23%, 22%);
}

*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--bg-color);
    color:var(--color)
}


